WorkDir: HTDOCS
EnableIPv6: no
#############################################################

Title[deliveries]: HOSTNAME - qmail-send (Deliveries/TLS transmitted)
MaxBytes[deliveries]: 1000
AbsMax[deliveries]: 10000
Options[deliveries]: gauge
Target[deliveries]: `cat LOGFILE | SQMAIL/bin/qmail-mrtg -1`
PageTop[deliveries]: <font face=arial size=3><B>HOSTNAME</B> - qmail-send (Deliveries)</font><br><font size=1 face=arial>s/qmail MRTG Stats collector <a href=http://HOSTNAME>HOSTNAME</a></font>
ShortLegend[deliveries]: Deliveries
YLegend[deliveries]: Deliveries
Legend1[deliveries]: Deliveries
LegendI[deliveries]: &nbsp;Deliveries:
LegendO[deliveries]: &nbsp;TLS tansmitted:
WithPeak[deliveries]: ymwd

#-------------------------------------------------------------------

Title[bytes]: HOSTNAME - qmail-send (Bytes Transfered)
MaxBytes[bytes]: 1000
AbsMax[bytes]: 100000000
Options[bytes]: gauge
Target[bytes]: `cat LOGFILE | SQMAIL/bin/qmail-mrtg -2`
PageTop[bytes]: <font face=arial size=3><B>HOSTNAME</B> - qmail-send (Bytes Transfered)</font><br><font size=1 face=arial>s/qmail MRTG Stats collector <a href=http://HOSTNAME>HOSTNAME</a></font>
ShortLegend[bytes]: kB
YLegend[bytes]: KBytes
Legend1[bytes]: KBytes
LegendI[bytes]: &nbsp;KBytes:
LegendO[bytes]: &nbsp;KBytes:
WithPeak[bytes]: ymwd

#-------------------------------------------------------------------

Title[concurrency]: HOSTNAME - qmail-send (Concurrency)
MaxBytes[concurrency]: 1000
AbsMax[concurrency]: 10000
Options[concurrency]: gauge
Target[concurrency]: `cat LOGFILE | SQMAIL/bin/qmail-mrtg -3`
PageTop[concurrency]: <font face=arial size=3><B>HOSTNAME</B> - qmail-send (Concurrency)</font><br><font size=1 face=arial>s/qmail MRTG Stats collector <a href=http://HOSTNAME>HOSTNAME</a></font>
ShortLegend[concurrency]: Concurrency
YLegend[concurrency]: Concurrency
Legend1[concurrency]: Concurrency
LegendI[concurrency]: &nbsp;Local:
LegendO[concurrency]: &nbsp;Remote:
WithPeak[concurrency]: ymwd

#-------------------------------------------------------------------

Title[smtp-problems]: HOSTNAME - qmail-remote (Failures/Deferrals)
MaxBytes[smtp-problems]: 100
AbsMax[smtp-problems]: 10000
Options[smtp-problems]: gauge
Target[smtp-problems]: `cat LOGFILE | SQMAIL/bin/qmail-mrtg -4`
PageTop[smtp-problems]: <font face=arial size=3><B>HOSTNAME</B> - qmail-remote (Failures/Deferrals)</font><br><font size=1 face=arial>s/qmail MRTG Stats collector <a href=http://HOSTNAME>HOSTNAME</a></font>
ShortLegend[smtp-problems]: Messages
YLegend[smtp-problems]: Messages
Legend1[smtp-problems]: Messages
LegendI[smtp-problems]: &nbsp;Failures:
LegendO[smtp-problems]: &nbsp;Deferrals:
WithPeak[smtp-problems]: ymwd

#-------------------------------------------------------------------

Title[bounces]: HOSTNAME - qmail-send (Bounces)
MaxBytes[bounces]: 100
AbsMax[bounces]: 10000
Options[bounces]: gauge
Target[bounces]: `cat LOGFILE | SQMAIL/bin/qmail-mrtg -5`
PageTop[bounces]: <font face=arial size=3><B>HOSTNAME</B> - qmail-send (Bounces)</font><br><font size=1 face=arial>s/qmail MRTG Stats collector <a href=http://HOSTNAME>HOSTNAME</a></font>
ShortLegend[bounces]: Messages
YLegend[bounces]: Messages
Legend1[bounces]: Messages
LegendI[bounces]: &nbsp;Bounces:
LegendO[bounces]: &nbsp;Triple bounces:
WithPeak[bounces]: ymwd

#-------------------------------------------------------------------

Title[qmtp-deliveries]: HOSTNAME - qmail-remote (QMTP/QMTPS Sessions)
MaxBytes[qmtp-deliveries]: 100
AbsMax[qmtp-deliveries]: 10000
Options[qmtp-deliveries]: gauge
Target[qmtp-deliveries]: `cat LOGFILE | SQMAIL/bin/qmail-mrtg -6`
PageTop[qmtp-deliveries]: <font face=arial size=3><B>HOSTNAME</B> - qmail-remote (QMTP/QMTPS)</font><br><font size=1 face=arial>s/qmail MRTG Stats collector <a href=http://HOSTNAME>HOSTNAME</a></font>
ShortLegend[qmtp-deliveries]: Messages
YLegend[qmtp-deliveries]: Messages
Legend1[qmtp-deliveries]: Messages
LegendI[qmtp-deliveries]: &nbsp;QMTP:
LegendO[qmtp-deliveries]: &nbsp;QMTPS:
WithPeak[qmtp-deliveries]: ymwd

#-------------------------------------------------------------------

Title[queue-size]: HOSTNAME - qmail-queue (Queue Size)
MaxBytes[queue-size]: 1000
AbsMax[queue-size]: 10000
Options[queue-size]: gauge
Target[queue-size]: `SQMAIL/bin/qmail-mrtg-queue`
PageTop[queue-size]: <font face=arial size=3><B>HOSTNAME</B> - qmail-queue (Queue Size)</font><br><font size=1 face=arial>s/qmail MRTG Stats collector <a href=http://HOSTNAME>HOSTNAME</a></font>
ShortLegend[queue-size]: Messages
YLegend[queue-size]: Messages
Legend1[queue-size]: Messages
LegendI[queue-size]: &nbsp;Messages:
LegendO[queue-size]: &nbsp;Unprocessed Messages:
WithPeak[queue-size]: ymwd

#-------------------------------------------------------------------
