WorkDir: HTDOCS
EnableIPv6: no
#############################################################

Title[smtpd-session]: HOSTNAME - qmail-smtpd (Total Sessions)
MaxBytes[smtpd-session]: 100
Options[smtpd-session]: gauge, nopercent
Target[smtpd-session]: `cat LOGFILE | SQMAIL/bin/qmail-mrtg -a`
PageTop[smtpd-session]: <font face=arial size=3><B>HOSTNAME</B> - qmail-smtpd (Total Sessions)</font><br><font size=1 face=arial>s/qmail MRTG Stats collector <a href=http://HOSTNAME>HOSTNAME</a></font>
YLegend[smtpd-session]: Sessions
Legend1[smtpd-session]: qmail-smtpd accepted
Legend2[smtpd-session]: qmail-smtpd rejected
Legend3[smtpd-session]: max. 5 minutes qmail-smtpd accepted
Legend4[smtpd-session]: max. 5 minutes qmail-smtpd rejected
LegendI[smtpd-session]: &nbsp;Accepted:
LegendO[smtpd-session]: &nbsp;Rejected:
WithPeak[smtpd-session]: ymwd

#-------------------------------------------------------------------

Title[accepted-session]: HOSTNAME - qmail-smtpd (Accepted and Rejected Sessions)
MaxBytes[accepted-session]: 100
Options[accepted-session]: gauge, nopercent
Target[accepted-session]: `cat LOGFILE | SQMAIL/bin/qmail-mrtg -b`
PageTop[accepted-session]: <font face=arial size=3><B>HOSTNAME</B> - qmail-smtpd (Accepted+Rejected Sessions)</font><br><font size=1 face=arial>s/qmail MRTG Stats collector <a href=http://HOSTNAME>HOSTNAME</a></font>
YLegend[accepted-session]: Sessions
Legend1[accepted-session]: Originator accepted
Legend2[accepted-session]: Recipient accepted
Legend3[accepted-session]: max. 5 minutes originator accepted
Legend4[accepted-session]: max. 5 minutes recipient accepted
LegendI[accepted-session]: &nbsp;Originator:
LegendO[accepted-session]: &nbsp;Recipient:
WithPeak[accepted-session]: ymwd

#-------------------------------------------------------------------

Title[rejected-sender]: HOSTNAME - qmail-smtpd (Rejected Sender)
MaxBytes[rejected-sender]: 100
Options[rejected-sender]: gauge, nopercent
Target[rejected-sender]: `cat LOGFILE | SQMAIL/bin/qmail-mrtg -c`
PageTop[rejected-sender]: <font face=arial size=3><B>HOSTNAME</B> - qmail-smtpd (Rejected Sender)</font><br><font size=1 face=arial>s/qmail MRTG Stats collector <a href=http://HOSTNAME>HOSTNAME</a></font>
YLegend[rejected-sender]: Sessions
Legend1[rejected-sender]: Invalid relay
Legend2[rejected-sender]: Badhelo greeting 
Legend3[rejected-sender]: max. 5 minutes relaying attempts rejected
Legend4[rejected-sender]: max. 5 minutes badhelo greeting rejected
LegendI[rejected-sender]: &nbsp;Relay:
LegendO[rejected-sender]: &nbsp;HELO/EHLO:
WithPeak[rejected-sender]: ymwd

#-------------------------------------------------------------------

Title[rejected-originator]: HOSTNAME - qmail-smtpd (Rejected Originators)
MaxBytes[rejected-originator]: 100
Options[rejected-originator]: gauge, nopercent
Target[rejected-originator]: `cat LOGFILE | SQMAIL/bin/qmail-mrtg -d`
PageTop[rejected-originator]: <font face=arial size=3><B>HOSTNAME</B> - qmail-smtpd (Rejected Originators)</font><br><font size=1 face=arial>s/qmail MRTG Stats collector <a href=http://HOSTNAME>HOSTNAME</a></font>
YLegend[rejected-originator]: Sessions
Legend1[rejected-originator]: Badmailfrom rejected
Legend2[rejected-originator]: DNS MF rejected
Legend3[rejected-originator]: max. 5 minutes badmailfrom rejected
Legend4[rejected-originator]: max. 5 minutes DNS MF rejected
LegendI[rejected-originator]: &nbsp;Badmailfrom:
LegendO[rejected-originator]: &nbsp;DNS MF:
WithPeak[rejected-originator]: ymwd

#-------------------------------------------------------------------

Title[rejected-recipient]: HOSTNAME - qmail-smtpd (Rejected Recipients)
MaxBytes[rejected-recipient]: 100
Options[rejected-recipient]: gauge, nopercent
Target[rejected-recipient]: `cat LOGFILE | SQMAIL/bin/qmail-mrtg -e`
PageTop[rejected-recipient]: <font face=arial size=3><B>HOSTNAME</B> - qmail-smtpd (Rejected Recipients)</font><br><font size=1 face=arial>s/qmail MRTG Stats collector <a href=http://HOSTNAME>HOSTNAME</a></font>
YLegend[rejected-recipient]: Sessions
Legend1[rejected-recipient]: Badrcptto rejected
Legend2[rejected-recipient]: Invalid recipients
Legend3[rejected-recipient]: max. 5 minutes badrcptto rejected
Legend4[rejected-recipient]: max. 5 minutes invalid recipients rejected
LegendI[rejected-recipient]: &nbsp;Badrcptto:
LegendO[rejected-recipient]: &nbsp;Recipient:
WithPeak[rejected-recipient]: ymwd

#-------------------------------------------------------------------

Title[rejected-base64]: HOSTNAME - qmail-smtpd (Rejected BASE64)
MaxBytes[rejected-base64]: 100
Options[rejected-base64]: gauge, nopercent
Target[rejected-base64]: `cat LOGFILE | SQMAIL/bin/qmail-mrtg -f`
PageTop[rejected-base64]: <font face=arial size=3><B>HOSTNAME</B> - qmail-smtpd (Rejected BASE64)</font><br><font size=1 face=arial>s/qmail MRTG Stats collector <a href=http://HOSTNAME>HOSTNAME</a></font>
YLegend[rejected-base64]: Sessions
Legend1[rejected-base64]: Bad mimetypes
Legend2[rejected-base64]: Bad loadertypes
Legend3[rejected-base64]: max. 5 minutes mime rejected
Legend4[rejected-base64]: max. 5 minutes loader rejected
LegendI[rejected-base64]: &nbsp;Bad MIME:
LegendO[rejected-base64]: &nbsp;Bad LOADER:
WithPeak[rejected-base64]: ymwd

#-------------------------------------------------------------------

Title[rejected-data]: HOSTNAME - qmail-smtpd (Rejected Data)
MaxBytes[rejected-data]: 100
Options[rejected-data]: gauge, nopercent
Target[rejected-data]: `cat LOGFILE | SQMAIL/bin/qmail-mrtg -g`
PageTop[rejected-data]: <font face=arial size=3><B>HOSTNAME</B> - qmail-smtpd (Rejected Data)</font><br><font size=1 face=arial>s/qmail MRTG Stats collector <a href=http://HOSTNAME>HOSTNAME</a></font>
YLegend[rejected-data]: Sessions
Legend1[rejected-data]: Virus infected
Legend2[rejected-data]: Spam messages
Legend3[rejected-data]: max. 5 minutes virus rejected
Legend4[rejected-data]: max. 5 minutes spam rejected
LegendI[rejected-data]: &nbsp;Virus:
LegendO[rejected-data]: &nbsp;Spam:
WithPeak[rejected-data]: ymwd

#-------------------------------------------------------------------

Title[auth-session]: HOSTNAME - qmail-smtpd (Authentication)
MaxBytes[auth-session]: 100
Options[auth-session]: gauge, nopercent
Target[auth-session]: `cat LOGFILE | SQMAIL/bin/qmail-mrtg -h`
PageTop[auth-session]: <font face=arial size=3><B>HOSTNAME</B> - qmail-smtpd (Authentication)</font><br><font size=1 face=arial>s/qmail MRTG Stats collector <a href=http://HOSTNAME>HOSTNAME</a></font>
YLegend[auth-session]: Sessions
Legend1[auth-session]: Authentication accepted
Legend2[auth-session]: Authentication rejected
Legend3[auth-session]: max. 5 minutes Authentication accepted
Legend4[auth-session]: max. 5 minutes Authentication rejected
LegendI[auth-session]: &nbsp;Accepted:
LegendO[auth-session]: &nbsp;Rejected:
WithPeak[auth-session]: ymwd

#-------------------------------------------------------------------

Title[tls-session]: HOSTNAME - qmail-smtpd (TLS Sessions)
MaxBytes[tls-session]: 100
Options[tls-session]: gauge, nopercent
Target[tls-session]: `cat LOGFILE | SQMAIL/bin/qmail-mrtg -i`
PageTop[tls-session]: <font face=arial size=3><B>HOSTNAME</B> - qmail-smtpd (TLS Sessions)</font><br><font size=1 face=arial>s/qmail MRTG Stats collector <a href=http://HOSTNAME>HOSTNAME</a></font>
YLegend[tls-session]: TLS Sessions
Legend1[tls-session]: Accepted
Legend2[tls-session]: Rejected 
Legend3[tls-session]: max. 5 minutes TLS accepted
Legend4[tls-session]: max. 5 minutes TLS rejected 
LegendI[tls-session]: &nbsp;Accepted:
LegendO[tls-session]: &nbsp;Rejected:
WithPeak[tls-session]: ymwd

#-------------------------------------------------------------------

Title[spf-session]: HOSTNAME - qmail-smtpd (SPF)
MaxBytes[spf-session]: 100
Options[spf-session]: gauge, nopercent
Target[spf-session]: `cat LOGFILE | SQMAIL/bin/qmail-mrtg -j`
PageTop[spf-session]: <font face=arial size=3><B>HOSTNAME</B> - qmail-smtpd (SPF Sessions)</font><br><font size=1 face=arial>s/qmail MRTG Stats collector <a href=http://HOSTNAME>HOSTNAME</a></font>
YLegend[spf-session]: SPF Sessions
Legend1[spf-session]: Accepted
Legend2[spf-session]: Rejected 
Legend3[spf-session]: max. 5 minutes SPF accepted
Legend4[spf-session]: max. 5 minutes SPF rejected 
LegendI[spf-session]: &nbsp;Accepted:
LegendO[spf-session]: &nbsp;Rejected:
WithPeak[spf-session]: ymwd

#-------------------------------------------------------------------

Title[smtp-connection]: HOSTNAME - qmail-smtpd (tcpserver/sslserver + rblsmtpd Connections)
MaxBytes[smtp-connection]: 100
Options[smtp-connection]: gauge, nopercent
Target[smtp-connection]: `cat LOGFILE | SQMAIL/bin/qmail-mrtg -s`
PageTop[smtp-connection]: <font face=arial size=3><B>HOSTNAME</B> - qmail-smtpd (tcpserver/sslserver + rblsmtpd Connections)</font><br><font size=1 face=arial>s/qmail MRTG Stats collector <a href=http://HOSTNAME>HOSTNAME</a></font>
YLegend[smtp-connection]: Connections
Legend1[smtp-connection]: tcpserver/sslserver connection ok
Legend2[smtp-connection]: tcpserver/sslserver connection deny/rejected
Legend3[smtp-connection]: max. 5 minutes connection ok
Legend4[smtp-connection]: max. 5 minutes connectiosn deny/rejected
LegendI[smtp-connection]: &nbsp;connection ok:
LegendO[smtp-connection]: &nbsp;connection deny:
WithPeak[smtp-connection]: ymwd

#-------------------------------------------------------------------
