WorkDir: HTDOCS
EnableIPv6: no
#############################################################

Title[pop3-session]: HOSTNAME - qmail-popup (Accepted+Rejected User)
MaxBytes[pop3-session]: 100
Options[pop3-session]: gauge, nopercent
Target[pop3-session]: `cat LOGFILE | QMAILHOME/bin/qmail-mrtg -A`
PageTop[pop3-session]: <font face=arial size=3><B>HOSTNAME</B> - qmail-popup (Accepted+Rejected User)</font><br><font size=1 face=arial>s/qmail MRTG Stats collector <a href=http://HOSTNAME>HOSTNAME</a></font>
YLegend[pop3-session]: Sessions
Legend1[pop3-session]: User accepted
Legend2[pop3-session]: User rejected
Legend3[pop3-session]: max. 5 minutes user accepted
Legend4[pop3-session]: max. 5 minutes user rejected
LegendI[pop3-session]: &nbsp;Accepted:
LegendO[pop3-session]: &nbsp;Rejected:
WithPeak[pop3-session]: ymwd

#-------------------------------------------------------------------

Title[pop3-connection]: HOSTNAME - qmail-pop3d (Connections)
MaxBytes[pop3-connection]: 100
Options[pop3-connection]: gauge, nopercent
Target[pop3-connection]: `cat LOGFILE | QMAILHOME/bin/qmail-mrtg -B`
PageTop[pop3-connection]: <font face=arial size=3><B>HOSTNAME</B> - qmail-pop3d (Connections)</font><br><font size=1 face=arial>s/qmail MRTG Stats collector <a href=http://HOSTNAME>HOSTNAME</a></font>
YLegend[pop3-connection]: Connections
Legend1[pop3-connection]: qmail-pop3d accepted
Legend2[pop3-connection]: qmail-pop3d rejected
Legend3[pop3-connection]: max. 5 minutes qmail-pop3d accepted
Legend4[pop3-connection]: max. 5 minutes qmail-pop3d rejected
LegendI[pop3-connection]: &nbsp;Accepted:
LegendO[pop3-connection]: &nbsp;Rejected:
WithPeak[pop3-connection]: ymwd

#-------------------------------------------------------------------
